body {
    margin: 0;
    background-color: #FFF;
    font-family: "Gideon Roman", serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
}

#title {
    width: 15rem;
    height: 8rem;
    font-size: 1.2em;
    font-weight: 400;
    margin: auto;
    text-align: center;
}

#user-input {
    display: grid;
    grid-template-columns: 1fr;
    width: 20rem;
    height: 7.5rem;
    margin: auto;
}

#number {
    width: 15rem;
    height: 1.5rem;
    margin-inline: auto;
    margin-block-start: 1.2rem;
    font-family: "Gideon Roman", serif;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    border-bottom: 0.1rem solid;
    outline: none;
}

#number:hover,
#number:active, #number:focus {
    border-bottom: 0.2rem solid;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#convert-btn {
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 2rem;
    margin: 0 0 2em;
    max-width: 10rem;
    text-decoration: none;
    width: 100%; 
    margin: auto;
    font-family: "Gideon Roman", serif;
    border: 0.1rem solid;
    background-color: #FFF;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
}

#convert-btn:hover,
#convert-btn:active {
  letter-spacing: 0.2rem;
  background-color: #000;
  color: #FFF;
}

#output {
    width: 15rem;
    height: 5rem;
    margin-block-start: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}